#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
}

.photograph-header :nth-child(3) {
    order: 3;
}

.contact_button {
    order: 2;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:focus {
    background-color: #DB8876;
    color: #000000;
}

.photographer-name {
    color: #D3573C;
    font-size: 64px;
    line-height: 83px;
}

.photographer-description {
    color: #525252;
    font-size: 18px;
    line-height: 24px;
}

.photographer-location {
    color: #901C1C;
    font-size: 24px;
    line-height: 31px;
}

.sorted-by {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.sorted-by h3{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
}

.arrow {
    color: white;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
}

/************** select sortedby **/
.sort-select {
    background-color: #901C1C;
    color: white;
    padding: 23px 18px 23px 20px;
    font-size: 18px;
    border: 1px solid #901C1C;
    border-radius: 5px;
    cursor: pointer;
    width: 170px;
    text-align: left;
    display: flex;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.sort-select option {
    appearance: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.sort-select option:hover {
    background-color: #901C1C  !important;
    color: #DB8876;
}

#arrowDown {
    position: absolute;
    left: 330px;
    color: #FFFFFF;
    z-index: 999;
    font-size: 32px;
    align-items: center;
    display: flex;
}

/************************************/
/* LES MEDIAS  */
.media-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    order: 2;
    justify-content: space-between;
    margin-bottom: 100px;
}

.media-card {
    width: 350px;
    height: 351px;
    display: flex;
    flex-direction: column;
}

.media-card img, .media-card video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.media-card h2 {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.media-body {
    color: #901C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-body span {
    cursor: pointer;
}

.media-body div {
    display: flex;
    gap: 10px;
}

/****************************************/
/** CONTACT FORM ***/

#contact_modal, #lightbox-modal {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    max-height: 100vh;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto 10% auto;
    box-shadow: -5px 10px 30px 0 #00000040;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.photographer-name-contact {
   font-size: 50px;
    margin: 0;
    width: 100%;
    text-align: left !important;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
}

form label {
    color: #312E2E;
    font-size: 24px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
}

/*******************************/
/* LIGHTBOX */

#lightbox-modal {
    display: none;
    color: #901C1C;
    font-size: 42px;
}

.close-lightbox {
    cursor: pointer;
    position: absolute;
    top: 37px;
    right: 24px;
    font-size: 42px;
    z-index: 555;
}

.lightbox-content {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto 10% auto;
    padding: 22px 0;
    width: 1242px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide {
    width: 100%;
    display: none;
}

.slide h2 {
    font-size: 24px;
    margin: 0;
}

.slide img, video {
    width: 1050px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    font-size: 48px;
    color: #901C1C;
    padding-left: 24px;
    padding-right: 24px;
}

/************************************/
/*** LIKES ****/

.photographer-likes {
    width: 300px;
    height: 40px;
    padding: 10px 50px;
    background-color: #DB8876;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 3;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.likes-counter {
    margin-left: 10px;
}

/**************************************/
.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}

.no-scroll {
    overflow: hidden;
}