#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
}

.photograph-header :nth-child(3) {
    order: 3;
}

.contact_button {
    order: 2;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-name {
    color: #D3573C;
    font-size: 64px;
    line-height: 83px;
}

.photographer-description {
    color: #525252;
    font-size: 18px;
    line-height: 24px;
}

.photographer-location {
    color: #901C1C;
    font-size: 24px;
    line-height: 31px;
}

.sorted-by {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.sorted-by h4{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
}

.arrow {
    color: white;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
}

/************** dropdown sortedby **/
.drop-button {
    background-color: #901C1C;
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size: 18px;
    display: none;
    position: absolute;
    background-color: #901C1C;
    width: 100%;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #DB8876;}

/* Show the dropdown menu on hover */
.show {display:block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-button {
    background-color: #DB8876;
}

/************************************/
/* LES MEDIAS  */
.media-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    order: 2;
    justify-content: space-between;
}

.media-card {
    width: 350px;
    height: 351px;
    display: flex;
    flex-direction: column;
}

.media-card img, video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.media-card h3 {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.media-body {
    color: #901C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-body div {
    display: flex;
    gap: 10px;
}

/****************************************/

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}